<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2020 The SureThing project
  ~ @author João Tiago <joao.marques.tiago@tecnico.ulisboa.pt>
  ~ http://surething.tecnico.ulisboa.pt/en/
  -->

<Configuration status="ALL">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>